DATA_DIR="/app/data"
DISABLE_GHL_SIGNATURE="false"
GHL_API_BASE="https://services.leadconnectorhq.com"
GHL_CLIENT_ID="6a9ec1e1821aa394ced90070-mtre2iie"
GHL_CLIENT_SECRET="7e985ead-d80f-4c66-8f04-9853adb03544"
GHL_CONVERSATION_PROVIDER_ID="6a9efbcec8dd0f1ae49b3e5d"
GHL_INBOUND_TYPE="WhatsApp"
GHL_REDIRECT_URI="https://spark-os-whats-app-4gil.vercel.app/oauth/api/oauth/callback"
GHL_VERSION="v3"
GHL_WEBHOOK_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\\nMCowBQYDK2VwAyEAi2HR1srL4o18O8BRa7gVJY7G7bupbN3H9AwJrHCDiOg=\\n-----END PUBLIC KEY-----"
INTERNAL_API_KEY="290d072aa52c3ac0e37748c1cb2d6bf3"
TOKEN_ENCRYPTION_KEY="cHJlc2VudG1hZGVjb29raWVzYnJ1c2hkYW5jZWRlZmk="